services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8051:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      - grabler-network

  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8051:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
    profiles:
      - dev

  frontend:
    container_name: mama-rezepte
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8050:80"
    environment:
      - NODE_ENV=production
      - VITE_API_URL=http://localhost:8050
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - grabler-network


  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost:8051
    command: npm run dev
    profiles:
      - dev
    depends_on:
      - backend-dev


networks:
  grabler-network:
    external: true