services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8051:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      grabler-network:
        aliases:
          - mamarezepte-backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    ports:
      - "8050:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      grabler-network:
        aliases:
          - mamarezepte-frontend


networks:
  grabler-network:
    external: true
