services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8051:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      grabler-network:
        aliases:
          - mamarezepte-backend

  backend-dev:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8051:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
    profiles:
      - dev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    ports:
      - "8050:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      grabler-network:
        aliases:
          - mamarezepte-frontend


  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost:8051
    command: npm run dev
    profiles:
      - dev
    depends_on:
      - backend-dev


networks:
  grabler-network:
    external: true
